**/__pycache__/*
.DS_Store
.neptune
martinakaduc
#results/*
results_backup/*
src/logs/*
!src/logs/.gitkeep
*.zip
datasets/*
!datasets/.gitkeep
run_script.sh
.env
**/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
results/*
!results/.gitkeep
new_script_gpt
