#GPT
OPENAI_API_TYPE="azure"
OPENAI_API_BASE="https://<your-endpoint.openai.azure.com/>"
OPENAI_API_KEY="your AzureOpenAI key"
OPENAI_API_VERSION="2023-05-15"

#TGI
TGI_ENDPOINT=""

#GEMINI
GEMINI_KEY="abcdefghtyuidkg"