#GPT
AZURE_KEY=xxxx123
AZURE_VERSION=2023-07-01-preview
AZURE_ENDPOINT=http://gpt-4.com

#GEMINI
GEMINI_KEYS=abcdef,ghtyuidkg
#["AIzaSyAlvVkuCXB_3YO8lkQ-G3ufHUrsof4r_SU", "AIzaSyCvdAOuBpxSRgr68WVG2r7e1HwRLK6aOkA", "AIzaSyCsHzENZeOsQM2st7dgXWq578-4v3PK2r0"]