aiofiles
aiohttp
aiosignal
alabaster
altair
annotated-types
anyio
attrs
Babel
beautifulsoup4
bert-score
blanc
blis
boto3
botocore
catalogue
cbor
cbor2
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cramjam
cycler
cymem
Cython
datasets
dill
docutils
emoji
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256
evaluate
ez_setup
fastapi
fastparquet
ffmpy
filelock
fonttools
frozenlist
fsspec
furo
gin-config
gradio
gradio_client
h11
hLepor
httpcore
httpx
huggingface-hub
idna
ijson
imagesize
importlib_resources
inscriptis
ir-datasets
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
kiwisolver
langcodes
Levenshtein
llvmlite
lxml
lz4
markdown-it-py
MarkupSafe
matplotlib
maturin
mdurl
moverscore
mpmath
multidict
multiprocess
murmurhash
networkx
nltk
nptyping
numba
numpy
orjson
packaging
pandas
parameterized
pbr
pillow
portalocker
preshed
protobuf
psutil
pyarrow
pyarrow-hotfix
pyautocorpus
pydantic
pydantic_core
pydub
pyemd
Pygments
pyparsing
python-crfsuite
python-dateutil
python-Levenshtein
python-multipart
pytorch-pretrained-bert
pytz
PyYAML
ranx
rapidfuzz
referencing
regex
requests
responses
rich
rpds-py
s3transfer
sacrebleu
sacremoses
safetensors
scikit-learn
scipy
seaborn
semantic-version
six
smart-open
sniffio
snowballstemmer
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
sphinx-basic-ng
sphinx-rtd-theme
sphinxcontrib-apidoc
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
srsly
stanza
starlette
summ_eval
sympy
tabulate
thinc
threadpoolctl
tokenizers
toml
toolz
torch
tqdm
transformers
trec-car-tools
typer
typing
typing_extensions
tzdata
uncertainty-calibration
underthesea
underthesea_core
unlzw3
urllib3
uvicorn
warc3-wet
warc3-wet-clueweb09
wasabi
weasel
websockets
xxhash
yarl
zlib-state
